/* index page start */
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
}
.card{
      float: left;
      margin-top: 50px;
      margin-left: 30px;
}
/* index page end */

/* student-list starts */

.input{
    margin-left: 500px;
    margin-top: 10px;
     margin-bottom: 10px;
     padding: 30px;
}

.box{
    padding: 5px;
    border-radius: 5px;
    width: 350px;
}

.delete{
    margin-left: 220px;
    margin-top:10px;
    background-color: red;
    color: white;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
}
.search{
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 330px;
    margin-bottom: 0px;
    border: 1px solid rgb(0, 247, 255);
    background-color:rgb(0, 162, 255);
    width: 1000px;

}

.form-select{
    margin: 10px;
    padding: 8px;
    font-style: none;
    border: white;
    border-radius: 5px;
    width: 300px;
    background-color:rgb(0, 162, 255);;
    color: white;
    border: 1px white solid;

}
#myTable{
    border-collapse: collapse;
    margin-top: 0;
    margin-left: 200px;
    min-width: 1000px;
}

#myTable thead{
    background-color:rgb(0, 162, 255);
    color:white;

}

#myTable thead th{

    padding: 10px;
    margin:10px;

}

#myTable tbody td{

    border-bottom: 1px solid #dddddd;
}

/* student-list ends */
